In [1]:
# Kütüphanelerin eklenmesi

In [2]:
import pandas as pd

# Veri setini oku

In [6]:
df_titanic = pd.read_csv("C:\\Users\\Begum\\OneDrive\\Masaüstü\\titanik_veriseti\\train.csv")

# 1. Kazada ölenlerin yaş ortalaması

In [7]:
mean_age_dead = df_titanic[df_titanic['Survived'] == 0]['Age'].mean()
print("1. Kazada ölenlerin yaş ortalaması:", round(mean_age_dead, 2))

1. Kazada ölenlerin yaş ortalaması: 30.63

# 2. Kazada ölenlerin bilet fiyatlarının ortalaması ve medyanı

In [8]:
fare_dead = df_titanic[df_titanic['Survived'] == 0]['Fare']
print("2. Kazada ölenlerin bilet fiyatları:")
print("   Ortalama:", round(fare_dead.mean(), 2))
print("   Medyan:", round(fare_dead.median(), 2))

2. Kazada ölenlerin bilet fiyatları:
   Ortalama: 22.12
   Medyan: 10.5

# 3. Kazada ölen erkeklerin yaş ortalaması

In [9]:
mean_age_dead_male = df_titanic[(df_titanic['Survived'] == 0) & (df_titanic['Sex'] == 'male')]['Age'].mean()
print("3. Kazada ölen erkeklerin yaş ortalaması:", round(mean_age_dead_male, 2))

3. Kazada ölen erkeklerin yaş ortalaması: 31.62

# 4. Kazada ölen kadınların yaş ortalaması

In [10]:
mean_age_dead_female = df_titanic[(df_titanic['Survived'] == 0) & (df_titanic['Sex'] == 'female')]['Age'].mean()
print("4. Kazada ölen kadınların yaş ortalaması:", round(mean_age_dead_female, 2))

4. Kazada ölen kadınların yaş ortalaması: 25.05

# 5. Kazadan kurtulanların yaş ortalaması

In [11]:
mean_age_survived = df_titanic[df_titanic['Survived'] == 1]['Age'].mean()
print("5. Kazadan kurtulanların yaş ortalaması:", round(mean_age_survived, 2))

5. Kazadan kurtulanların yaş ortalaması: 28.34

# 6. Kazadan kurtulanların bilet fiyatları ortalaması

In [12]:
mean_fare_survived = df_titanic[df_titanic['Survived'] == 1]['Fare'].mean()
print("6. Kazadan kurtulanların bilet fiyatları ortalaması:", round(mean_fare_survived, 2))

6. Kazadan kurtulanların bilet fiyatları ortalaması: 48.4

# 7. Kazadan kurtulan toplam kişi sayısı

In [13]:
num_survived = len(df_titanic[df_titanic['Survived'] == 1])
print("7. Kazadan kurtulan toplam kişi sayısı:", num_survived)

7. Kazadan kurtulan toplam kişi sayısı: 342

# 8. 10 yaşından küçüklerin bilet fiyatlarının medyanı

In [14]:
median_fare_under10 = df_titanic[df_titanic['Age'] < 10]['Fare'].median()
print("8. 10 yaş altı bireylerin bilet fiyatları medyanı:", round(median_fare_under10, 2))

8. 10 yaş altı bireylerin bilet fiyatları medyanı: 27.0

# 9. 1., 2. ve 3. sınıf bilet fiyatları ortalama ve medyan karşılaştırması

In [15]:
print("9. Sınıflara göre bilet fiyatları:")
for cls in [1, 2, 3]:
    class_fares = df_titanic[df_titanic['Pclass'] == cls]['Fare']
    print(f"   {cls}. sınıf - Ortalama: {round(class_fares.mean(), 2)}, Medyan: {round(class_fares.median(), 2)}")

9. Sınıflara göre bilet fiyatları:
   1. sınıf - Ortalama: 84.15, Medyan: 60.29
   2. sınıf - Ortalama: 20.66, Medyan: 14.25
   3. sınıf - Ortalama: 13.68, Medyan: 8.05

# 10. Kazada ölen kadın ve erkek oranları karşılaştırması

In [16]:
num_males = df_titanic[df_titanic['Sex'] == 'male'].shape[0]
num_females = df_titanic[df_titanic['Sex'] == 'female'].shape[0]
num_dead_males = df_titanic[(df_titanic['Sex'] == 'male') & (df_titanic['Survived'] == 0)].shape[0]
num_dead_females = df_titanic[(df_titanic['Sex'] == 'female') & (df_titanic['Survived'] == 0)].shape[0]

male_death_ratio = num_dead_males / num_males
female_death_ratio = num_dead_females / num_females

print("10. Cinsiyete göre ölme oranları:")
print("   Erkek ölme oranı:", round(male_death_ratio, 2))
print("   Kadın ölme oranı:", round(female_death_ratio, 2))

10. Cinsiyete göre ölme oranları:
   Erkek ölme oranı: 0.81
   Kadın ölme oranı: 0.26